<h3>
  {{@post.title}}
</h3>
{{#if @showBody}}
  <span>
    {{@post.formattedPublishedAt}}
  </span>
  <br />
  <span>
    By:
    {{@post.author}}
  </span>
  <p style="white-space: pre-wrap;">
    {{@post.body}}
  </p>
  <button
    type="button"
    class="btn btn-secondary"
    {{on "click" (fn this.removePost @post)}}
  >
    Remove post
  </button>
{{/if}}